.spinner-field {
  .inputcontainer {
    position: relative;
  }

  input {
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
  }

  .icon-container {
    position: absolute;
    right: 10px;
    top: calc(50% - 10px);
  }
  .loader {
    position: relative;
    height: 20px;
    width: 20px;
    display: inline-block;

    &.loading {
      animation: around 5.4s infinite;
      &::after,
      &::before {
        content: '';
        background: transparent;
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        border-width: 2px;
        border-color: #333 #333 transparent transparent;
        border-style: solid;
        border-radius: 20px;
        box-sizing: border-box;
        top: 0;
        left: 0;
        animation: around 0.7s ease-in-out infinite;
      }

      &::after {
        animation: around 0.7s ease-in-out 0.1s infinite;
        background: transparent;
      }
    }
  }

  @keyframes around {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
