<% const { options } = htmlWebpackPlugin %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Your easy Telos web signer - Telos Sign</title>
    <meta
      name="description"
      content="Access blockchain everywhere just like your email. Telos Sign is an authenticator and can be integrated into DApps in any blockchain."
    />
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Buenard|Source+Code+Pro:700&display=swap" rel="stylesheet" />
    <meta property="og:title" content="Your easy Telos web signer - Telos Sign" />
    <meta
      property="og:description"
      content="Access blockchain everywhere just like your email. Telos Sign is an authenticator and can be integrated into DApps in any blockchain."
    />
    <meta name="og:image" content="/images/og-image.png" />
    <meta name="twitter:image" content="/images/og-image.png" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@indegser" />
    <meta name="twitter:title" content="Your easy Telos web signer - Telos Sign" />
    <meta
      name="twitter:description"
      content="Access blockchain everywhere just like your email. Telos Sign is an authenticator and can be integrated into DApps in any blockchain."
    />

    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
  </head>
  <body>
    <div id="app"></div>
    <% if(!options.PRODUCTION) { %>
    <script crossorigin src="https://unpkg.com/react@16.8.0/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16.8.0/umd/react-dom.development.js"></script>
    <% } %> <% if(options.PRODUCTION) { %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
      window.GA_MEASUREMENT_ID = 'UA-116457571-2'
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116457571-2"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'UA-116457571-2')
    </script>
    <% } %>
  </body>
</html>
