<% const { options } = htmlWebpackPlugin %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Browser is Your Wallet - Keycat</title>
  <meta name="description" content="You can play with EOS without installing Wallet apps or Scatter." />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
  <meta property="og:title" content="Browser is Your Wallet - Keycat"/><meta property="og:description" content="You can play with EOS without installing Wallet apps or Scatter."/><meta name="og:image" content="<%= options.ORIGIN %>/images/og-image.png?v=<%= options.COMMIT_REF %>"/><meta name="twitter:image" content="<%= options.ORIGIN %>/images/og-image.png?v=<%= options.COMMIT_REF %>"/><meta property="og:type" content="website"/><meta name="twitter:card" content="summary"/><meta name="twitter:creator" content="@indegser"/><meta name="twitter:title" content="Browser is Your Wallet - Keycat"/><meta name="twitter:description" content="You can play with EOS without installing Wallet apps or Scatter."/>

  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png?v=<%= options.COMMIT_REF %>"><link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png?v=<%= options.COMMIT_REF %>"><link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png?v=<%= options.COMMIT_REF %>"/>
</head>
<body>
  <div id="app"></div>
  <script>
    window.COMMIT_REF = '<%= options.COMMIT_REF %>';
  </script>
  <% if(!options.PRODUCTION) { %>
    <script crossorigin src="https://unpkg.com/react@16.8/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16.8/umd/react-dom.development.js"></script>
  <% } %>
  <% if(options.PRODUCTION) { %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
      window.GA_MEASUREMENT_ID = 'UA-121560623-3'
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121560623-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-121560623-3');
    </script>
  <% } %>
</body>
</html>