<% const { options } = htmlWebpackPlugin %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Browser is Your Wallet - Peekaboo</title>
  <meta name="description" content="You can play with EOS without installing Wallet apps or Scatter."
  <link rel="stylesheet" href="https://use.typekit.net/fwi4zip.css">
  <meta property="og:title" content="Browser is Your Wallet - Peekaboo"/><meta property="og:description" content="You can play with EOS without installing Wallet apps or Scatter."/><meta name="og:image" content="<% options.ORIGIN %>/images/og-image.png?v=<% options.COMMIT_REF %>"/><meta name="twitter:image" content="<% options.ORIGIN %>/images/"/><meta property="og:type" content="website"/><meta name="twitter:card" content="summary"/><meta name="twitter:creator" content="@indegser"/><meta name="twitter:title" content="Browser is Your Wallet - Peekaboo"/><meta name="twitter:description" content="You can play with EOS without installing Wallet apps or Scatter."/>

  <link rel="shortcut icon" href="/icons/icon-48x48.png?v=<% options.COMMIT_REF %>"/><link rel="apple-touch-icon" sizes="48x48" href="/icons/icon-48x48.png?v=<% options.COMMIT_REF %>"/><link rel="apple-touch-icon" sizes="72x72" href="/icons/icon-72x72.png?v=<% options.COMMIT_REF %>"/><link rel="apple-touch-icon" sizes="96x96" href="/icons/icon-96x96.png?v=<% options.COMMIT_REF %>"/><link rel="apple-touch-icon" sizes="144x144" href="/icons/icon-144x144.png?v=<% options.COMMIT_REF %>"/><link rel="apple-touch-icon" sizes="192x192" href="/icons/icon-192x192.png?v=<% options.COMMIT_REF %>"/><link rel="apple-touch-icon" sizes="256x256" href="/icons/icon-256x256.png?v=<% options.COMMIT_REF %>"/><link rel="apple-touch-icon" sizes="384x384" href="/icons/icon-384x384.png?v=<% options.COMMIT_REF %>"/><link rel="apple-touch-icon" sizes="512x512" href="/icons/icon-512x512.png?v=<% options.COMMIT_REF %>"/>
</head>
<body>
  <div id="app"></div>
  <script>
    window.COMMIT_REF = '<%= options.COMMIT_REF %>';
  </script>
  <% if(!options.PRODUCTION) { %>
    <script crossorigin src="https://unpkg.com/react@16.8/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16.8/umd/react-dom.development.js"></script>
  <% } %>
</body>
</html>